body{
	max-width: 1170px;
	font-family: GothamPro Arial;
	margin: 0 auto;
	background: #E5E5E5;
}
header{
width: 1170px;
height: 95.79px;
top: 0px;
background: #FFFFFF;
}
.menu{
 display: flex;
 justify-content: space-around;
 align-items: center;
 text-align: justify; 
margin-left:35.35px;
}
.menu__title{
margin-left:35.35px;
font-size: 12px;
line-height: 11px;
text-transform: uppercase;
color: #000000;
text-decoration: none;
}
.logo{
width: 55px;
height: 55px;
left: calc(50% - 55px/2 - 487.5px);
}
.logo img{

} 
form{
}